<!DOCTYPE html>
<html>
    <head>
        <link href="login.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div id="title">
              <a href="#" class="logo"><img src="logo.jpg" alt="re 북"></a>
            </div>
        </header>

        <div class="v11_133">
            <div class="name"></div>
            <div class="v15_148">
                <!--div class="v15_149"></div>
                <span class="v15_150">Email address</span-->
                <input id="mail" type="text" class="v15_149">  <!--value="ID"-->
            </div>
            <div class="v15_151">
                <!--div class="v15_152"></div>
                <span class="v15_153">Create password</span-->
                <input id="password" type="text" class="v15_152"> <!--value="Password"-->
            </div>
            <div class="v15_154">
                <!--div class="v15_155"></div>
                <span class="v15_156">next</span-->
                <input type="submit" class="v15_155">
            </div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="v22_134">
                <a href="#">
                    <div class="v22_135"></div>
                    <span class="v22_136">login / Register</span>
                </a>
            </div>

        </div>
    </body>
</html>