{% extends 'base.html' %}
{% block content %}
<div class = 'container my-3'>
    <table class='table'>
        <thead>
        <tr class="table table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %} <!--: 문장 템플릿, 파이썬 코드와 연결-->
        <!--render_template에서 전달받은 질문 목록 데이터 question_list 있는지 검사-->
        {% for question in question_list %} <!-- question_list에 저장된 데이터를 qeustion 객체에 대입 -->
        <tr>
            <td>{{loop.index}}</td>
            <td>
                <a href ={{url_for('question.detail',question_id=question.id)}}>{{question.subject}}</a><!--question.detail은 question_id라는 매개변수가 필요함으로 같이 보내줌-->
            </td>
            <td>{{question.create_date}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan = '3'>질문이 없습니다</td>>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href = "{{url_for('question.create')}}" class="btn btn-primary">질문 등록하기</a>
</div>
{% endblock %}